nav {
  background-color: #1c032e; // Violet foncé
  padding: 1rem;
  transition: background-color 0.3s ease;

  ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding:  0;

    li a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.2rem;
      transition: color 0.3s;

      &:hover {
        color: #d580ff; // Violet clair au survol
      }

      &.active {
        color: #d580ff;
        border-bottom: 2px solid #d580ff;
      }
    }
  }
}

// Style spécifique pour la page d'accueil
:host(.accueil-theme) nav {
  background: radial-gradient(circle at 20% 20%, rgba(128, 0, 255, 0.2), transparent 30%),
    radial-gradient(circle at 80% 0%, rgba(255, 0, 255, 0.15), transparent 25%),
    #0b0316;
}